.repos-component{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        padding: 20px;
        border-radius: 10px;
        background-color: var(--tertiary-color);
        margin-bottom: 30px;
        height: 65vh;
}
.repo-card{
        font-size: 12px;
}
.view-button{
        background-color:red;
        padding: 10px 5px;
        border-radius: 20px;
        color: var(--accent-color);
        width: 100px;
        opacity: 0.8;
}
.clone-button{
        background-color:green;
        padding: 10px 5px;
        border-radius: 20px;
        color: var(--accent-color);
        width: 100px;
        opacity: 0.8;
}
@media screen and (max-width: 800px) {
        .view-button,.clone-button{
                width: 75px;
        }
        .repos-component{
        }
}