<footer class="my-footer fixed-bottom py-2">
        <div class="container d-flex flex-row justify-content-between align-items-center">
                <div class="d-flex gap-3">
                        <a href="#" class="link-light">About Us</a>
                        <a href="#" class="link-light">Privacy Policy</a>
                        <a href="#" class="link-light"> Careers </a>
                </div>
                <p>Copyright © 2024  - All Rights Reserved.</p>
        </div>
</footer>