.my-button{
        background-color:var(--primary-color);
        padding: 10px 5px;
        border-radius: 20px;
        color: var(--accent-color);
        opacity: 0.8;
        width: 200px;
}
.my-button:hover{
        opacity: 1;
}
.my-home {
        display: flex;
        flex-direction: column;
        background-image: radial-gradient(var(--background-color-2),var(--background-color-1));
        height: 100vh;
}
.home-component{
        margin-top: 100px;
}