@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather&display=swap');
*{
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        font-family: 'Merriweather', serif;
}
body{
        width:100vw;
        height: 100vh;
}
::-webkit-scrollbar {
        width: 7px;
}
::-webkit-scrollbar-track {
        background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
        background: #888;
}
::-webkit-scrollbar-thumb:hover {
        background: #555;
}
:root {
        --primary-color: #061A40;
        --background-color-1:darkgray;
        --background-color-2:#E0E0E0;
        --secondary-color:#c5c6c7;
        --tertiary-color:#F5F5F5;
        --accent-color:#fff;
}
.my-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: radial-gradient(var(--background-color-2),var(--background-color-1));
        justify-content: center;
        height: 100vh;
    }